body {
    background-color: #101677;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column; /* Stacks the heading and scene container */
    position: relative; /* Required to make the child relative positioned */
}

h1 {
    font-size: 2rem;
    font-weight: bold;
    color: white;
    z-index: 10; /* Ensure the heading is above the scene */
    font-family: Arial, Helvetica, sans-serif;
    color: #e4693d;
}

#scene-container {
    width: 70%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 20px;
    overflow: hidden; 
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px); 
    border: 2px solid rgba(255, 255, 255, 0.2);
}

#background-buttons {
    margin-top: 20px;
    display: flex;
    gap: 10px;
}

.bg-btn, .obj-btn {
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 5px;
    background-color: #e4693d;
}

.bg-btn:hover, .obj-btn:hover{
    opacity: 0.8;
}

.obj-btn {
    background-color: #d3d2d2;
}

#loadingIndicator {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px;
    border-radius: 5px;
    display: none;
}